.main-frame {
  width: 500px;
  border-style: solid;
  padding: 20px;
  margin: 50px;
  text-align: center;
}
body {
    font-family: "Trirong", serif;
    background-color: antiquewhite;
  }

/*#gametitle {
  text-align: center;
}*/

  .guess {
    width: 75px;
    height: 2em;
    text-align: right;
    font-size: large;
  }
  
  .btn, .reset-btn {
    width: 75px;
}


.score, .highest-score {
  border: 2px;
  border-style: solid; 
  width: 55px;
  padding-right: 10px;
  margin-left: 25x;
  margin-right: 25px;
  text-align: right;
}


.btn {
  font-size: larger;
}

.reset-btn {
  font-size: larger;
}

.alert {
  color: crimson;
}

.inform {
  color: blue;
}